---
import Social from './Social.vue';
import TextGradient from './TextGradient.vue';
const name = 'Rafael Cetina';
---

<section class="mt-10">
	<div class="flex flex-col">
		<div class="mb-5 max-w-fit text-3xl">
			<span class="text-zinc-800 dark:text-zinc-100">Hi there 👋, I'm</span>
			<h1 class="pt-2 text-5xl font-semibold md:text-7xl">
				<TextGradient client:load text={name} />
			</h1>
		</div>
		<p>
			A software engineering student and full stack web developer that likes to contribute to open
			source projects.
		</p>
	</div>
	<Social />
</section>
